{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
    {% if app.user %}
        {# formulaire pour les filtres des sorties #}
        <form action="{{ path('home') }}" method="post">
            <div class="row">
                <div class="col-5">
                    <div class="input-group mb-3">

                        {# filtre des sites #}
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="site">Site :</label>
                        </div>
                        <select class="custom-select" name="site" id="site">
                            <option value="">tous</option>
                            {% if sites %}
                                {% for site in sites %}
                                    <option value="{{ site.nom }}"
                                            {% if siteRecherche %}
                                                {% if siteRecherche == site.nom %}
                                                    selected
                                                {% endif %}
                                            {% endif %}
                                    >
                                        {{ site.nom }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <br>
                    <div>
                        {# filtre de la barre de recherche #}

                        <label for="search">le nom de la sortie contient :</label>
                        <input width="200px" value="{% if search %}{{ search }}{% endif %}" name="search"
                               class="form-control form-inline mr-sm-2" type="search" id="search" placeholder="Search"
                               aria-label="Search">
                    </div>
                    <br>
                    <div class=" form-inline">
                        <label class="inlineFormInput" for="date1">Entre </label>
                        <input type="date" id="date1" name="date1">
                        <label class="inlineFormInput" for="date2"> et </label>
                        <input type="date" id="date2" name="date2">

                    </div>

                </div>
                <div class=col-4>
                    {# checkbox x4 #}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="organisateur" name="organisateur"
                               id="organisateur">
                        <label class="form-check-label" for="organisateur">
                            Sorties dont je suis l'organisateur/trice
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="inscrit" name="inscrit" id="inscrit">
                        <label class="form-check-label" for="inscrit">
                            Sorties auxquelles je suis inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="pasInscrit" name="pasInscrit"
                               id="pasInscrit">
                        <label class="form-check-label" for="pasInscrit">
                            Sorties auxquelles je ne suis pas inscrits/e
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="passee" name="passee" id="passee">
                        <label class="form-check-label" for="passee">
                            Sorties Passées
                        </label>
                    </div>
                </div>
                <div class=col-3>
                    {# bouton submit #}
                    <button class="btn btn-outline-dark btn-lg my-2 my-sm-0" name="submit" type="submit">Rechercher
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
<br><br>
{# affichage des sorties #}
    {% if sorties %}
<table class="table table-striped table-hover">
    <thead class="table-light">
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Cloture</th>
        <th scope="col">Inscrits/places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    {# pour chaque sorties #}
    {% for sortie in sorties %}
    {# si l'utilisateur est connecté #}
        {% if app.user %}
            {# on affiche les sorties créées seulement si l'on est l'organisateur #}
            {% if (sortie.organisateur.id == app.user.id) or (sortie.etat.libelle != "Créée") %}
                <tbody>
                <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.nbrInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {#  si l'utilisateur est inscrit on affiche X #}
                    {% if app.user in sortie.participants %}
                        X
                    {% else %}
                        O
                    {% endif %}
                </td>
                <td>
                    {# si l'utilisateur participe a la sortie on affiche un lien #}
                    {% if app.user in sortie.participants or (is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('profil',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    {% else %}
                        {{ sortie.organisateur.pseudo }}
                    {% endif %}
                </td>
                <td>
                {# si l'utilisateur connecté est l'organisateur ou si on est admin#}
                {% if (sortie.organisateur.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}

                    {# si la sortie n'est pas publié #}
                    {% if sortie.etat.libelle == "Créée" %}
                        <a href="{{ path('publier', {'id':sortie.id}) }}">
                            <img src="{{ asset('assets/images/publier.png') }}" title="Publier" height="30px"
                                 alt="Publier">
                        </a>
                        <a href="{{ path('add_sortie', {'id': sortie.id}) }}">
                            <img src="{{ asset('assets/images/edit.png') }}" title="Modifier" height="40px" alt="Modifier">
                        </a>
                        <a href="{{ path('remove_sortie', {'id':sortie.id}) }}">
                            <img src="{{ asset('assets/images/delete.png') }}" title="Supprimer" height="20px"
                                 alt="Supprimer">
                        </a>
                    {% else %}
                        {# si la sortie n'est pas Créé #}
                        {% if sortie.etat.libelle != "Créée" %}
                            <a href="{{ path('sortie_vue', {'id':sortie.id}) }}">
                                <img src="{{ asset('assets/images/afficher.png') }}" title="Afficher" height="30px"
                                     alt="Afficher">
                            </a>
                        {% endif %}
                        {# si la sortie n'est pas annulé #}
                        {% if sortie.etat.libelle == "Ouverte" %}
                            <a href="{{ path('annuler', {'id':sortie.id}) }}">
                                <img src="{{ asset('assets/images/annuler.png') }}" title="Annuler" height="20px"
                                     alt="Annuler">
                            </a>
                        {% endif %}

                    {% endif %}
                {% else %}
                    {# si l'utilisateur connecté n'est pas l'organisateur #}
                    <a href="{{ path('sortie_vue', {'id':sortie.id}) }}">
                        <img src="{{ asset('assets/images/afficher.png') }}" title="Afficher" height="30px"
                             alt="Afficher">
                    </a>
                    {% if (app.user in sortie.participants) and (sortie.organisateur.id != app.user.id)%}
                        <a href="{{ path('desister', {'id':sortie.id}) }}">
                            <img src="{{ asset('assets/images/se_desister.png') }}" title="Se desister" height="20px"
                                 alt="Se désister">
                        </a>
                    {% else %}
                        {% if (app.user not in sortie.participants) and (sortie.etat.libelle == "Ouverte") %}
                            <a href="{{ path('inscription', {'id':sortie.id}) }}">
                                <img src="{{ asset('assets/images/sign-in.jpg') }}" title="S'inscrire" height="40px"
                                     alt="S'inscrire">
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}


            {% endif %}
            </td>
        </tr>
            </tbody>

        {% else %} {# mode deconnecté #}
            <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.nbrInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>


        {% endif %}
    {% endfor %}
</table>
{% endif %}

{% endblock %}
